# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Scripts and executables
*.bat
*.sh
*.exe
*.pyc

# Scons stuff
.*scons*

# obj and bin directories
bin/*
obj/*

# Development
dev*

# CTags
.tags*

# Sublime cruft
*.sublime-workspace

# Documentation
docs/html/*
